@font-face {
  font-family: "boardFont";
  src: url(/Tic-tac-toe/fonts/FredokaOne-Regular.ttf);
}

@media (max-width: 640px) {
  
  html{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.8em;
  }

  body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6em 8em 6em 1fr;
    row-gap: 3em;
    justify-items: center;
    align-items: center;
    background-color: RGB(39, 94, 145);
  }

  h1{
    color: aliceblue;
    font-size: 4em;
  }

  h2{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-items: center;
    align-items: center;
    font-size: 1em;
    color: aliceblue;
  }

  img{
    transition: 1s;
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 100%;
    padding: 0.2em;
    border: solid black 0.2em;
  }

  img:hover{
    transform: scale(1.2) rotate(360deg);
    transition: 1s;
  }

  .hidden{
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }

  .pressed{
    opacity: 0.5;
    pointer-events: none;
  }

  #board {
    transition: 1s;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5%;
    width: 25em;
    height: 25em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
  }

  .deactivatedBoard{
    transition: 1s;
    opacity: 0.5;
  }

  .boardSquare{
    display: flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border: 0.06em solid white;
    background-color: rgb(19, 73, 122);
    border-radius: 9%;
    font-size: 4em;
    font-family: boardFont;
  }

  .winner{
    animation: winner 1.5s 1 normal forwards;
  }

  #resultDisplay{
    font-size: 2.5em;
    font-weight: 600;
  }

  button, select{
    border: none;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    width: 5em;
    height: 3em;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
  }

  select{
    background-color: #EA4C89;
    padding: 2px 5px;
    width: 8em;
  }

  @keyframes winner {
    0% {
              transform: rotate(0);
    }
    45% {
              transform: rotate(90deg);
    }
    75% {
              transform: rotate(-100deg);
    }
    100% {
              transform: rotate(0deg);
    }
  }
}

@media (min-width: 641px) and (max-width: 1100px){
  html{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
  }

  body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6em 8em 1em 1fr;
    row-gap: 3em;
    justify-items: center;
    align-items: center;
    background-color: RGB(39, 94, 145);
  }

  h1{
    color: aliceblue;
    font-size: 4em;
  }

  h2{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-items: center;
    align-items: center;
    font-size: 1em;
    color: aliceblue;
  }

  img{
    transition: 1s;
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 100%;
    padding: 0.2em;
    border: solid black 0.2em;
  }

  img:hover{
    transform: scale(1.2) rotate(360deg);
    transition: 1s;
  }

  .hidden{
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }

  .pressed{
    opacity: 0.5;
    pointer-events: none;
  }

  #board {
    transition: 1s;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5%;
    width: 25em;
    height: 25em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
  }

  .deactivatedBoard{
    transition: 1s;
    opacity: 0.5;
  }

  .boardSquare{
    display: flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border: 0.06em solid white;
    background-color: rgb(19, 73, 122);
    border-radius: 9%;
    font-size: 4em;
    font-family: boardFont;
  }

  .winner{
    animation: winner 1.5s 1 normal forwards;
  }

  #resultDisplay{
    font-size: 2.5em;
    font-weight: 600;
  }

  button, select{
    border: none;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    width: 5em;
    height: 3em;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
  }

  select{
    background-color: #EA4C89;
    padding: 2px 5px;
    width: 6em;
  }

  @keyframes winner {
    0% {
              transform: rotate(0);
    }
    45% {
              transform: rotate(90deg);
    }
    75% {
              transform: rotate(-100deg);
    }
    100% {
              transform: rotate(0deg);
    }
  }
}

@media (min-width: 1101px){
  html{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
  }

  body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 4.5em 0.5em 1fr 1em;
    row-gap: 3em;
    justify-items: center;
    align-items: center;
    background-color: RGB(39, 94, 145);
  }

  h1{
    color: aliceblue;
    font-size: 4em;
  }

  h2{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-items: center;
    align-items: center;
    font-size: 1em;
    color: aliceblue;
  }

  img{
    transition: 1s;
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 100%;
    padding: 0.2em;
    border: solid black 0.2em;
  }

  img:hover{
    transform: scale(1.2) rotate(360deg);
    transition: 1s;
  }

  .hidden{
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }

  .pressed{
    opacity: 0.5;
    pointer-events: none;
  }

  #board {
    transition: 1s;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5%;
    width: 25em;
    height: 25em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
  }

  .deactivatedBoard{
    transition: 1s;
    opacity: 0.5;
  }

  .boardSquare{
    display: flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border: 0.06em solid white;
    background-color: rgb(19, 73, 122);
    border-radius: 9%;
    font-size: 4em;
    font-family: boardFont;
  }

  .winner{
    animation: winner 1.5s 1 normal forwards;
  }

  #resultDisplay{
    font-size: 2.5em;
    font-weight: 600;
  }

  button, select{
    border: none;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    width: 4em;
    height: 2em;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
  }

  select{
    background-color: #EA4C89;
    padding: 2px 5px;
    width: 6em;
  }

  @keyframes winner {
    0% {
              transform: rotate(0);
    }
    45% {
              transform: rotate(90deg);
    }
    75% {
              transform: rotate(-100deg);
    }
    100% {
              transform: rotate(0deg);
    }
  }
}
